doctype
html
  head
    title legacy-gradient.styl Test
    link(rel="stylesheet" href="test.css")
  body
    .legacy-gradient legacy-gradient()
    .linear-gradient linear-gradient()
    script(src="//localhost:35729/livereload.js")
