body {
  margin: 0;
}
.legacy-gradient,
.linear-gradient {
  margin: 1em;
  width: 200px;
  height: 200px;
  color: #fff;
  line-height: 200px;
  text-align: center;
}
.legacy-gradient {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #f00), color-stop(1, #00f));
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #f00), color-stop(1, #00f));
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #f00), color-stop(1, #00f));
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #f00), color-stop(1, #00f));
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #f00), color-stop(1, #00f));
}
.linear-gradient {
  background-image: -webkit-linear-gradient(315deg, #f00, #00f);
  background-image: -moz-linear-gradient(315deg, #f00, #00f);
  background-image: -o-linear-gradient(315deg, #f00, #00f);
  background-image: -ms-linear-gradient(315deg, #f00, #00f);
  background-image: linear-gradient(135deg, #f00, #00f);
}
